<% include ./partials/header.ejs %>
<h1>Bucket List</h1>
  <% items.forEach(item => { %>
    <h2>
      <%= item.id %>
        <%= item.item_name %>
        <%= item.done %>
    </h2>
    <form action="<%= item.id %>_method=DELETE" method="POST">
      <button type="submit">X</button>
    </form>
        <% }); %>
    <form class="new-item-form" method="POST" action="/homepage">
      <label>Activity</label>
      <input name="item_name" type="text">
      <label>Done</label>
      <input name="done" type="boolean" />
      <button type="submit">Add to List </button>
    </form>

      <% include ./partials/footer.ejs %>